[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask='1.0.2'
pandas = '0.20.3'
numpy = '1.13.1'
flask-httpauth = '3.2.4'

[dev-packages]

[requires]
python_version = "3.6"
